footer
  div.container
    div.row
      div.col-md-2
        h4 Opentable
        ul
          li
            a(href='http://www.opentable.com/about/') About Us
          li
            a(href='http://blog.opentable.com/') Blog
          li
            a(href='http://www.opentable.com/careers/') Careers
          li
            a(href='http://press.opentable.com/') Press
          li
            a(href='http://www.rgmgroup.com/advertisers-opentable.html') Advertise
      div.col-md-2.no-gutter-left
        h4 More
        ul
          li
            a(href='http://www.opentable.co.uk/') OpenTable.co.uk
          li
            a(href='https://itunes.apple.com/us/app/opentable/id296581815?mt=8') OpenTable for iOS
          li
            a(href='https://play.google.com/store/apps/details?id=com.opentable') OpenTable for Android
          li
            a(href='https://community.opentable.com/t5/FAQs-Knowledge-Base/OpenTable-Affiliate-Program/ta-p/400?profile.language=en') Affiliate Program
          li
            a(href='https://community.opentable.com/t5/OpenTable-Community/ct-p/OpenTable_Community_US?profile.language=en') Contact Us
          li
            a(href='https://community.opentable.com/t5/OpenTable-Community/ct-p/OpenTable_Community_US?profile.language=en') Help &amp; Support
      div.col-md-2
        h4 Join Us On
        ul.social.inline
          li
            a(href='https://twitter.com/OpenTable', target='_blank').twitter
              img(src='../../images/icon_twitter.png',alt='Twitter')
          li
            a(href='https://www.facebook.com/OpenTable', target='_blank').facebook
              img(src='../../images/icon_facebook.png',alt='Facebook')
          li
            a(href='https://plus.google.com/+OpenTable/', target='_blank').googleplus
              img(src='../../images/icon_googleplus.png',alt='Google Plus')
    div.row
      div.col-md-13
        hr
        div.copyright Copyright &copy; #{(new Date()).getFullYear()} OpenTable, Inc. 1 Montgomery St Ste 700, San Francisco CA 94104 - All rights reserved.
        div.links
          ul.inline.tiny
            li
              a(href='http://www.opentable.com/info/privacypolicy.aspx') Privacy Policy
            li
              a(href='http://www.opentable.com/info/agreement.aspx') Terms of Use
            li
              a(href='http://www.opentable.com/opentable-sitemap.aspx') Sitemap
            li
              a(href='http://m.opentable.com/') Mobile site