extends layout

block content
  div.container.middle
    div.row.no-gutter
      div.col-md-13.no-gutter.splash
        div.col-md-8.no-gutter
          img.hero(src='images/hero_1.png')
        div.col-md-5.no-gutter
          div.welcome
            h1 Welcome to the OpenTable Internal Homepage
            p.push-top-xl Click the links to find the information you need. New to OpenTable? Visit our People & Culture Onboarding page. (We recommend that you set this as your browser’s default homepage).
            div.row.push-top-xl
              div.col-half.no-gutter
                ul
                  li
                    a(href='https://wiki.otcorp.opentable.com:8443/dashboard.action') Wiki Home
                  li
                    a(href='https://wiki.otcorp.opentable.com/browsepeople.action') People Directory
                  li
                    a(href='https://wiki.otcorp.opentable.com/display/CC/People+and +Culture+Home') People and Culture
                  li
                    a(href='https://login.salesforce.com/') Sales Force
              div.col-half.no-gutter
                ul
                  li
                    a(href='https://wiki.otcorp.opentable.com/x/0A6b') Help Desk
                  li
                    a(href='https://portal.adp.com/public/index.htm') ADP
                  li
                    a(href='http://10.0.1.27/navigation/website.asp') CHARM
                  li
                    a(href='http://www.opentable.com/start/home') OpenTable.com
    div.row
      div.col-md-4
        div#recent-tweets.content-box
          div.header Recent Tweets
      div.col-md-4
        div#recent-news.content-box.pull-top-sm
          div.header News
        div.content-box
          div.header Self Service
          div.cell.self-service
            ul
              li
                a(href='https://hire.jobvite.com/Home/Dashboard.aspx?login=1') ADP (Time Off, Pay, etc.)
              li
                a(href='https://www.concursolutions.com/') Concur - US Expenses
              li
                a(href='https://www.docusign.net/Member/MemberLogin.aspx') CHARM
              li
                a(href='https://www.docusign.net/Member/MemberLogin.aspx') DocuSign
              li
                a(href='https://www.dropbox.com/home') Dropbox
              li
                a(href='https://drive.google.com/a/opentable.com/#my-drive') Google Drives
      div.col-md-5
        div.content-box.pull-top-sm.pull-top-md
          div.header Recent OpenTable Videos
          div.cell.video
            div.video-container.
              <iframe src="//player.vimeo.com/video/107074030?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/107074030">OpenTable "Pay with OpenTable"</a> from <a href="http://vimeo.com/mixtapeclub">Mixtape Club</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
            h2 Pay with OpenTable: Restaurant Mobile Payments
            p.
              Diners can now use OpenTable mobile payments to settle their check at participating restaurants in New York and San Francisco, and we'll be adding 18 additional cities before the year’s end. To pay with OpenTable, make sure you are using the latest version of the OpenTable iPhone app. Diners who book a participating restaurant can add a credit card, which enables them...
