doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='description',content='Welcome to the Opentable internal web page.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/#{GLOBAL.config.css_file}')
    link(href="favicon.ico", rel="icon", type="image/png")
    script(type='text/javascript', src='//www.google.com/jsapi')
  body
    div.main(role='main')
      include shared/_header
      block content
      include shared/_footer

    if GLOBAL.config.env == 'development'
      script(type='text/javascript', src='/javascripts/lib/jquery-1.10.2.min.js')
      script(type='text/javascript', src='/javascripts/lib/twitter-fetcher.js')
      script(type='text/javascript', src='/javascripts/application.js')
    else
      script(type='text/javascript', src='/javascripts/#{GLOBAL.config.js_file}')

