
/***  HTML TAGS  ***/

ul{

  list-style: none outside none;
  margin: 0px;
  padding: 0px;

  li{line-height: normal;}

  &.inline {
    li {
      display: inline-block;
      margin-right: 10px;
    }
  }
}



/***  VIDEO CONTAINER  ***/

.video-container{

  padding-top: 25px;
  padding-bottom: 50.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  height: 0;

  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
