
.container{
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.container:before,
.container:after,
.row:before,
.row:after {
  content:"";
  display: table ;
  clear:both;
}
.row{
  line-height: 0;
  margin-left: -20px;
  margin-right: -20px;

  &.no-gutter{
  }
}

[class*='col-'] {
  float: left;
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
  padding: 0 1.25%;

  &:first-child{
    margin-left: 1.25%;
  }

  &:last-child{
    margin-right: 1.25%;
  }

  &.no-gutter{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
  }

  &.no-gutter-left{
    margin-left: 0px;
    padding-left: 0px;
  }
}

.col-md-1{
  width: 10%;
}

.col-md-2{
  width: 14%
}

.col-md-3{
  width: 20%;
}

.col-md-4{
  width: 30.0%;
}

.col-md-5{
  width: 37.5%;
}

.col-md-6{
  width: 37.5%;
}

.col-md-7{
  width: 45%;
}

.col-md-8{
  width: 62.5%;
}

.col-md-9{
  width: 58%;
}

.col-md-9{
  width: 65.5%;
}

.col-md-10{
  width: 73%;
}

.col-md-11{
  width: 80%;
}

.col-md-12{
  width: 87.5%;
}
.col-md-13{
  width: 97.5%;

  &.no-gutter{
    width: 100%;
  }
}

.col-half{
  width: 50%;
}