@import "_variables";

/*** PAGE LEVEL VARIABLES  ***/

@splash_color_1: #da3743;
@splash_color_2: #FFFFFF;


/***  HERO CONTAINER  ***/

.splash{
  background-color: @splash_color_1;
  .hero{ width: 100%; }
}

/***  WELCOME CONTAINER  ***/

.welcome{
  line-height: normal;
  padding: 20px 40px;
  color: @splash_color_2;

  h1{
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px;
  }

  p{ font-size: 16px; }

  ul{
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;

    li{ padding: 10px 0; }

    a{
      position: relative;
      display: inline-block;
      background-color: transparent;
      line-height: 45px;
      border: 1px solid @splash_color_2;
      border-radius: 5px;
      width: 100%;
      color: @splash_color_2;
      padding: 0 15px;
      box-sizing: border-box;
      cursor: pointer;

      &:hover{
        color: @splash_color_2;
        opacity: .7;
      }
      &:after{
        background: no-repeat url('@{img_base}/arrow_right_white.png');
        width: 10px;
        height: 19px;
        z-index: 100;
        position: absolute;
        content: '';
        right: 20px;
        top: 50%;
        bottom: 50%;
        margin-top: -7px;
      }
    }
  }
}

/***  CONTENT BOXES  ***/

.content-box{
  background-color: #FFFFFF;
  border-radius: 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  line-height: normal;
  overflow: hidden;
  margin: 40px 0;

  .header{
    padding: 20px;
    color: @color_1;
    text-transform: uppercase;
    border-bottom: 1px solid #f0f0f0;
    box-sizing: border-box;
    position: relative;

    &:after{
      background: no-repeat url('@{img_base}/arrow_right_blue.png');
      width: 10px;
      height: 19px;
      z-index: 100;
      position: absolute;
      content: '';
      right: 20px;
    }
  }

  .cell{
    color: #333333;
    padding: 0 30px;
    border-bottom: 1px solid #f0f0f0;
    &:last-child{ border-bottom: 0px; }

    &.tweet{
      h5{
        font-size: 14px;
        font-weight: lighter;
        margin: 30px 0 0 0;

        strong{ font-weight: normal; }
      }

      p{
        margin: 0;
        font-size: 16px;
        padding: 30px 0;
      }
    }

    &.news{
      a{
        display: inline-block;
        margin-top: 30px;
        color: @color_1;
        font-size: 16px;
        text-transform: none;
        font-weight: 500;

        &:hover{ opacity: .7;}
      }

      p{
        font-size: 14px;
        color: #999999;
        padding-bottom: 20px;
      }
    }

    &.self-service{
      ul{
        margin: 15px 0;

        li{
          font-size: 16px;
          line-height: 30px;
        }
      }
    }

    &.video{
      padding-top: 30px;
      h2{
        color: @color_1;
        font-size: 20px;
        font-weight: normal;
        margin-top: 25px;
      }

      p{
        color: #333333;
        font-size: 16px;
        line-height: 23px;
        padding-bottom: 30px;
      }
    }
  }
}
