@import "_variables";

/***  PAGE LEVEL  ***/

html,body{ background-color: #e0ddda; }

/***  HEADER  ***/

header{
  .header{ background-color: #FFFFFF; }
  .logo{ padding: 15px 40px; }
}

/***  MIDDLE CONTENT SECTION  ***/

.middle{
  background-color: #f7f7f7;

  a{
    color: @color_1;
    text-decoration: none;
    &:hover{
      color: lighten(#569fbd, 10%);
    }
  }
}


/***  FOOTER  ***/

footer{
  overflow: hidden;

  div{ line-height: normal; }

  .container{
    background-color: #333333;
    padding-bottom: 50px;
  }

  h4{
    color: #666666;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 40px;
  }
  ul{

    li{ line-height: 30px; }

    &.tiny{
      a{
        color: #999999;
        font-size: 14px;
      }
    }
  }

  hr{
    border: 1px solid #666666;
    margin: 50px 0 30px 0;
  }

  a{
    color: #FFF;
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;

    &:hover{ opacity: .7; }
  }

  .copyright{
    color: #666666;
    font-size: 14px;
    line-height: 24px;
  }
}