
//***  SMALL  ***//

@media all and (min-width:0) and (max-width:800px){
  .col-md-1 { width: 33.33%;  }
  .col-md-2 { width: 50%;     }
  .col-md-3 { width: 83.33%;  }
  .col-md-4 { width: 100%;    }
  .col-md-5 { width: 100%;    }
  .col-md-6 { width: 100%;    }
  .col-md-7 { width: 100%;    }
  .col-md-8 { width: 100%;    }
  .col-md-9 { width: 100%;    }
  .col-md-10{ width: 100%;    }
  .col-md-11{ width: 100%;    }
  .col-md-12{ width: 100%;    }
  .col-md-13{ width: 100%;    }
  .col-half { width: 100%;    }

  [class*='col-'] {
    margin-left: 0%;
    margin-right: 0%;
    padding: 0 15px;

    &.no-gutter{
      width: 100%;
      padding:0px;
    }

    &.no-gutter-left{padding-left: 15px;}

    &:first-child{ margin-left: 0px; }
    &:last-child{ margin-right: 0px; }
  }
  .row .col-md-5:last-of-type{width: 100%;}
  .row .col-md-5 ~ .col-md-1{width: 100%;}
  .content-box.pull-top-sm{ margin-top: 0px;}
}


//***  MEDIUM  ***//

@media all and (min-width:801px) and (max-width:1410px){
  .col-md-1 { width: 33.33%; }
  .col-md-2 { width: 33%;    }
  .col-md-3 { width: 50%;    }
  .col-md-4 { width: 50%;    }
  .col-md-5 { width: 100%;   }
  .col-md-6 { width: 100%;   }
  .col-md-7 { width: 100%;   }
  .col-md-8 { width: 100%;   }
  .col-md-9 { width: 100%;   }
  .col-md-10{ width: 100%;   }
  .col-md-11{ width: 100%;   }
  .col-md-12{ width: 100%;   }
  .col-md-13{ width: 100%;   }
  .col-half { width: 50%;    }

  [class*='col-'] {
    margin-left: 0%;
    margin-right: 0%;
    padding: 0 20px;
    &.no-gutter{padding:0px;}

    &.no-gutter-left{ padding-left: 15px;}
    &:first-child{ margin-left: 0px; }
    &:last-child{ margin-right: 0px; }
  }

  .row .col-md-5:last-of-type{width: 100%;}
  .row .col-md-5 ~ .col-md-1{width: 100%;}
  .content-box.pull-top-md{margin-top: 0px;}
}


//***  LARGE  ***//

@media all and (min-width:1411px) and (max-width:1499px) {

}

//***  X_LARGE  ***//

@media all and (min-width: 1500px){

  .push-top-xl{ margin-top: 30px; }

}
